.page__hero {
    height: 800px !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
}

.site-title {
    display: none !important;
}

#site-nav {
    display: none !important;
}

.custom-title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-top: -50px;
}

.small-title {
    font-size: 1.5rem;
    display: block;
    margin-top: 10px;
}

.tiny-title {
    font-size: 1.0rem;
    display: block;
    margin-top: 10px;
}
